.card {
  background-color: white;
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.footer {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
}
